<h1>one pulse</h1>

<% @sentences.each do |sentence| %>

  <%= form_for [sentence, Blip.new], url: sentence_blips_path(sentence) do |f| %>
    <tr>
      <td><strong><%= sentence.body.gsub("_", f.text_field(:body)).html_safe %></strong></td>
    <tr>
  <% end %>

<% end %>