<div class="container">

<div class="stats-box">
<div class="stats-header">Stats</div>
<div class="stats-sentence"><%= @sentence.body %></div>

<div class="stats-subheader"><span class="stats-subheader-stat"><%= @sentence.blips.count %></span> blips from X countries</div> 
</div>

<div class="chart">
<h4>Top 10 Blips</h4>
<%= pie_chart @statistics, library: {backgroundColor: "transparent", width: 500} %>
</div>

<div class="chart">
  <h4>Top blips per Country</h4>
<%= geo_chart Blip.select("*").joins(:users).count, library: {backgroundColor: "transparent", width: 500} %>
</div>


</div>



