@import "bootstrap-sprockets";
@import "bootstrap";

* {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  line-height: 1.5;
}

body {
  background-color: #f8f8f8;
}

nav {
  font-size: 14px !important;
}

nav > ul > li {
  display: inline;
}

li {
  list-style-type: none;
}

form {
  display: inline;
}

input {
   border:0;
   border-bottom:solid 1px #000;
   outline:none; /* prevents textbox highlight in chrome */
   width: 180px;
   background-color: #f8f8f8;
}

// REACT CLASSES

.blipForm {
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  color: #4c4c4c;
  font-style: italic;
}

.active-sentence {
  font-size: 40px;
}
.next-sentence {
  padding-top: 60px;
  font-size: 32px;
  opacity: 0.6;
}
.nnext-sentence {
  font-size: 24px;
  opacity: 0.4;
}

.example-enter {
  opacity: 0.01;
  transition: opacity .5s ease-in;
}

.example-enter.example-enter-active {
  opacity: 1;
}

.example-leave {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.example-leave.example-leave-active {
  opacity: 0.01;
}


