@import "bootstrap-sprockets";
@import "bootstrap";

* {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  line-height: 1.5;
}

body {
  background-color: #f8f8f8;
}

nav > ul > li > a {
  font-size: 12px !important;
  color: #00d0c4;
}

nav > ul > li {
  display: inline;
}

li {
  list-style-type: none;
}

form {
  display: inline;
}

input {
   border:0;
   border-bottom:solid 1px #000;
   outline:none; /* prevents textbox highlight in chrome */
   width: 180px;
   background-color: #f8f8f8;
}

// INDEX STYLES

.main-logo {
  color: #00d0c4;
  font-style: italic;
  font-size: 39px;
  font-weight: 100;
}

.main-subheader {
  color: #212121;
  font-size: 12px;

}

.header {
  padding-top: 60px;
  padding-bottom: 15px;
}

// .sentence-box {
//   background-color: white;
//   box-shadow: 1px;
//   width: 400px;
//   height: 300px;
// }

// REACT CLASSES

.blipForm {
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  color: #4c4c4c;
  font-style: italic;
}

.active-sentence {
  font-size: 40px;
  letter-spacing: 1px;
}
.next-sentence {
  padding-top: 60px;
  padding-bottom: 30px;
  font-size: 32px;
  opacity: 0.35;
  letter-spacing: 1px;
}
.nnext-sentence {
  font-size: 24px;
  opacity: 0.2;
  letter-spacing: 1px;
}

.example-enter {
  opacity: 0.01;
  transition: opacity .5s ease-in;
}

.example-enter.example-enter-active {
  opacity: 1;
}

.example-leave {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.example-leave.example-leave-active {
  opacity: 0.01;
}
.next-button:hover {
  cursor: pointer; 
  cursor: hand;
}

.next-button {
  position: absolute;
  left: 900px;
  top: 200px;
}

.stats-list {
  font-weight: 300;
  display: inline;
  font-size: 16px;
  .stats-list-percent {
    color: #00d0c4;
  }
  .stats-list-header {
    border: 1px solid black;
  }
}

